# BTT Octopus V1.1
SUBSYSTEMS=="usb", ATTRS{idProduct}=="5740",  ATTRS{idVendor}=="0483", ATTRS{serial}=="btt-octopus-11", ACTION=="add", SYMLINK+="btt-octopus-11"

ACTION=="remove", ENV{DEVLINKS}=="/dev/btt-octopus-11"
