[gcode_macro START_PRINT]
gcode:
    # Parameters
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set target_chamber = params.CHAMBER|default("0")|int %}

    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
    {% set material = printer["gcode_macro _USER_VARIABLES"].material_parameters[params.MATERIAL] %}

    MAYBE_HOME
    G90                   # Absolute position

    #BED_MESH_CLEAR       # Clears old saved bed mesh (if any)

    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL}
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    {% if printer.extruder.target < material.idle_temp %}
        #UPDATE_STATUS STATUS="heat_extruder" MSG="Hotend Preheat: {material.idle_temp}c"
        M104 S{material.idle_temp}
    {% endif %}

    #UPDATE_STATUS STATUS="heat_bed" MSG="Bed: {target_bed}c"
    M190 S{target_bed}                                  # Sets target temp for the bed

    {% if target_chamber > 0 %}
        M106 S255  # part fan on

        #UPDATE_STATUS STATUS="heat_chamber" MSG="Heatsoak: {target_chamber}c"
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber-3} MAXIMUM={target_chamber+3}
    {% elif printer["temp_tracker heater_bed"].average < (target_bed - 10) %}
        #UPDATE_STATUS STATUS="heat_chamber" MSG="Soak for 5min"
        _WAIT_COUNTDOWN MESSAGE="hot plate heat soak" MINUTES=5
    {% endif %}

    #UPDATE_STATUS STATUS="leveling"
    #CALIBRATE_Z
    #BED_MESH_CALIBRATE

    #UPDATE_STATUS STATUS="heat_extruder" MSG="Hotend: {target_extruder}c"
    G1 X{x_wait} Y{y_wait} Z15 F9000
    M107  # part fan off
    M109 S{target_extruder}

    #UPDATE_STATUS STATUS="printing"
    _PRIME_NOZZLE MARGIN=10 AMOUNT=30 HEIGHT=0.8 FLOW=12
    G90


[gcode_macro _PRIME_NOZZLE]
gcode:
    # Parameters
    {% set purge_margin = params.MARGIN|int %}
    {% set purge_amount = params.AMOUNT|int %}
    {% set purge_height = params.HEIGHT|int %}
    {% set flow_rate = params.FLOW|int %}

    {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}

    {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}    # Get all object points
    {% set purge_x_min = (all_points | map(attribute=0) | min | default(0)) %}                          # Object x min
    {% set purge_x_max = (all_points | map(attribute=0) | max | default(0)) %}                          # Object x max
    {% set purge_y_min = (all_points | map(attribute=1) | min | default(0)) %}                          # Object y min
    {% set purge_y_max = (all_points | map(attribute=1) | max | default(0)) %}                          # Object y max

    {% set purge_x_center = ([((purge_x_max + purge_x_min) / 2) - (purge_amount / 2), 0] | max) %}      # Create center point of purge line relative to print on X axis
    {% set purge_y_center = ([((purge_y_max + purge_y_min) / 2) - (purge_amount / 2), 0] | max) %}      # Create center point of purge line relative to print on Y axis

    {% set purge_x_origin = ([purge_x_min - purge_margin, 0] | max) %}                                  # Add margin to x min, compare to 0, and choose the larger
    {% set purge_y_origin = ([purge_y_min - purge_margin, 0] | max) %}                                  # Add margin to y min, compare to 0, and choose the larger

    # Calculate purge speed
    {% set purge_move_speed = (flow_rate / 5.0) * 60 | float %}

    SAVE_GCODE_STATE NAME=Prepurge_State                                                    # Create gcode state

    {% if purge_y_origin > 0 %}                                                             # If there's room on Y, purge along X axis in front of print area

        G92 E0                                                                              # Reset extruder
        G0 F{travel_speed}                                                                  # Set travel speed
        G90                                                                                 # Absolute positioning
        G0 X{purge_x_center} Y{purge_y_origin}                                              # Move to purge position
        G0 Z{purge_height}                                                                  # Move to purge Z height
        M83                                                                                 # Relative extrusion mode
        G1 X{purge_x_center + purge_amount} E{purge_amount} F{purge_move_speed}             # Purge line
        {RETRACT}                                                                           # Retract
        G0 X{purge_x_center + purge_amount + 10} F{travel_speed}                            # Rapid move to break string
        G92 E0                                                                              # Reset extruder distance
        M82                                                                                 # Absolute extrusion mode
        G0 Z{purge_height * 2} F{travel_speed}                                              # Z hop

    {% else %}                                                                              # If there's room on X, purge along Y axis to the left of print area

        G92 E0                                                                              # Reset extruder
        G0 F{travel_speed}                                                                  # Set travel speed
        G90                                                                                 # Absolute positioning
        G0 X{purge_x_origin} Y{purge_y_center}                                              # Move to purge position
        G0 Z{purge_height}                                                                  # Move to purge Z height
        M83                                                                                 # Relative extrusion mode
        G1 Y{purge_y_center + purge_amount} E{purge_amount} F{purge_move_speed}             # Purge line
        {RETRACT}                                                                           # Retract
        G0 Y{purge_y_center + purge_amount + 10} F{travel_speed}                            # Rapid move to break string
        G92 E0                                                                              # Reset extruder distance
        M82                                                                                 # Absolute extrusion mode
        G0 Z{purge_height * 2} F{travel_speed}                                              # Z hop

    {% endif %}

    RESTORE_GCODE_STATE NAME=Prepurge_State                                                 # Restore gcode state
